@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    background-color: #eeeeee;
}

#introduction {
    height: 33rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(background.svg);
    background-size: 1440px 560px;
}

h1, h3 {
    color: #222831;
}

h1, h3, h4, p {
    font-family: 'Kaisei HarunoUmi', serif;
    color: #222831;
}

hr {
    border-top: 1px solid #ff5722;
    width: 23%;
    margin-left: 0;
}

#intro-text {
    color: #2d4059;
}

#skills-container, #projects-container {
    display: flex;
    flex-direction: column;
}

#projects-part-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    color: #222831;
    align-self: center;
    justify-self: center;
    padding: 3rem 0 3rem 0;
}

/* #cards {
    display: flex;
    flex-direction: column;
} */


.card-container {
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    position:relative;
    color: #222831;
    text-align:center;
    margin:80px;
    width: 288px;
    height: 555px;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  
   }

   .front-1, .front-2, .back {
    position:absolute;
    top:0px;
    left:0px;
    width: 288px;
    height: 555px;
    padding-top: 70px;
    text-align: center;
    backface-visibility:hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .front-1 {
      background-image: url("./images/mobile-surf-app.png");
  }

  .front-2 {
      background-image: url("./images/mobile-quiz-app.png");
  }

  .back {
      background-color: #222831;
  }
  
  .back{
    /* background: #222831;  */
    background: rgb(34,40,49);
    /* background: linear-gradient(131deg, rgba(34,40,49,1) 28%, rgba(255,87,34,1) 96%); */
    background: linear-gradient(131deg, rgba(34,40,49,1) 28%, rgba(45,64,89,1) 60%);
    transform: rotateY(180deg);
  }
  .card:hover{
    transform: rotateY(180deg);
   }

   .card-title {
       color: #ff5722;
       font-family: 'Karla', sans-serif;
       font-size: 30px;
   }

   #right-hr {
       margin-left: auto;
       margin-right: 0;
   }
  
   .used-technologies {
       color: #eeeeee;
   }

   .technologies-list {
        color: #eeeeee;
        list-style-position: inside;
        text-align: left;
        margin-left: 2rem;
        list-style: none;
   }

   li::before {
       content: "* ";
       color: #ff5722;
   }

   .list-point {
       padding: 0.3rem;
   }

   .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .link {
        padding: 1rem;
        color: #ff5722;
    }
 
 .skills-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

.skill-name {
    font-size: 13px;
}

#styled-logo {
    height: 96px;
    width: 96px;
}


@keyframes wipe-enter {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0)
    }
}

@media (prefers-reduced-motion: no-preference) {
    .skills-row-animation {
        animation: wipe-enter 4s 1;
    }

}
