@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@500&family=Vibur&display=swap');

html {
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden !important;
}

body {
    background: url(./images/Frame\ 1\ \(4\).png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #c4c1e0;
}

#nav-bottom-line {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    justify-self: center;
    align-self: center;
}

#header-part {
    display: flex;
}

#hello {
    font-size: 20px;
}

#introduction {
    height: 33rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Pridi', sans-serif;
    font-size: 120px;
    color: #fff;
    margin: 0;
}

h3, h4, p, a {
    font-family: 'Kaisei HarunoUmi', serif;
    color: #fff;
}

hr {
    border-top: 1px solid rgba(255,233,227,1);
    width: 23%;
    margin-left: 0;
}

#intro-text {
    color: #fff;
    padding-right: 2rem;
}

#frontend {
    color:rgb(255, 255, 255);
    font-family: 'Vibur', cursive;
    font-size: 35px;
    margin-left: 0.5rem;
    text-shadow: 
            0 0 4px rgba(255, 255, 255, 0.3),
            0 0 11px rgba(255, 255, 255, 0.3),
            0 0 19px rgba(255, 255, 255, 0.3),
            0 0 40px rgb(212, 0, 255),
            0 0 80px rgb(212, 0, 255),
            0 0 90px rgb(212, 0, 255),
            0 0 100px rgb(212, 0, 255),
            0 0 150px rgb(212, 0, 255);
}

#skills-container, #projects-container {
    display: flex;
    flex-direction: column;
}

#projects-part-title, #about-me-title, #contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    color: #fff;
    align-self: center;
    justify-self: center;
    padding: 4rem 0 3rem 0;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card {
    width: 55%;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 288px, auto;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.project-img {
    grid-column: 1;
}

.about-project-container{
    width: 80%;
}

#surf-title {
    color:rgb(255, 255, 255);
    font-family: 'Vibur', cursive;
    font-size: 35px;
    text-shadow: 
            0 0 4px rgba(255, 255, 255, 0.3),
            0 0 11px rgba(255, 255, 255, 0.3),
            0 0 19px rgba(255, 255, 255, 0.3),
            0 0 40px rgb(0, 238, 255),
            0 0 80px rgb(0, 238, 255),
            0 0 90px rgb(0, 238, 255),
            0 0 100px rgb(0, 238, 255),
            0 0 150px rgb(0, 238, 255);
}

#quiz-title {
    color:rgb(255, 255, 255);
    font-family: 'Vibur', cursive;
    font-size: 35px;
    text-shadow: 
            0 0 4px rgba(255, 255, 255, 0.3),
            0 0 11px rgba(255, 255, 255, 0.3),
            0 0 19px rgba(255, 255, 255, 0.3),
            0 0 40px rgb(255, 0, 106),
            0 0 80px rgb(255, 0, 106),
            0 0 90px rgb(255, 0, 106),
            0 0 100px rgb(255, 0, 106),
            0 0 150px rgb(255, 0, 106);
}

.project-description {
    grid-column: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-project {
    margin: 0.75rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}

.surf-link, .quiz-link {
    padding: 0.5rem;
}

.surf-link:hover {
    color:rgb(255, 255, 255);
    text-shadow: 
            0 0 4px rgba(255, 255, 255, 0.3),
            0 0 11px rgba(255, 255, 255, 0.3),
            0 0 19px rgba(255, 255, 255, 0.3),
            0 0 40px rgb(0, 238, 255),
            0 0 80px rgb(0, 238, 255),
            0 0 90px rgb(0, 238, 255),
            0 0 100px rgb(0, 238, 255),
            0 0 150px rgb(0, 238, 255);
}

.quiz-link:hover {
    color:rgb(255, 255, 255);
    text-shadow: 
            0 0 4px rgba(255, 255, 255, 0.3),
            0 0 11px rgba(255, 255, 255, 0.3),
            0 0 19px rgba(255, 255, 255, 0.3),
            0 0 40px rgb(255, 0, 106),
            0 0 80px rgb(255, 0, 106),
            0 0 90px rgb(255, 0, 106),
            0 0 100px rgb(255, 0, 106),
            0 0 150px rgb(255, 0, 106);
}
 
.skills-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

.skill-name {
    font-size: 13px;
}

#styled-logo {
    height: 96px;
    width: 96px;
}

#about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.about-me-txt {
    padding: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#emojis-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.emoji {
    margin: 2rem;
    width: 50px;
    height: 50px;
}


#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-container {
    width: 40%;
    background: rgba(255,233,227,0.2);
    margin-bottom: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 10px;

}

#inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea, button {
    width: 70%;
    margin: 0.75rem;
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
}

button {
    background-color: #c4c1e0;
}

button:hover {
    cursor: pointer;
    background-color: #7c73e6;
}

textarea {
    font-family: sans-serif;
}

.error-message {
    color:rgb(206, 40, 40);
    font-size: 15px;
}

#contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    margin-left: 1.5rem;
}

.contact-info {
    padding-left: 1rem;
    font-size: 15px;
}

@media (max-width: 1065px) {
    .project-card {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .project-card {
        display: flex;
        flex-direction: column;
        width: 288px;
    }
/* 
    .body {
        background: rgb(69,252,193);
        background: radial-gradient(circle, rgba(69,252,193,1) 0%, rgba(29,201,253,1) 50%, rgba(77,77,77,1) 100%);
        overflow-x: hidden;
    } */
}

@media screen and (max-width: 480px) {
    body {
        max-width: 100vw;
        overflow-x: hidden !important;
    }

    #navbar-container {
        width: 90%;
    }

    #nav-bottom-line {
        display: none;
    }
    
    #introduction {
        padding-left: 2rem;
    }
    
    h1 {
        font-size: 50px;
    }

    #frontend {
        font-size: 30px;
    }

    h2 {
        padding: 1rem 0 1rem 0;
    }

    .cards, .project-card {
        margin-top: 0.5rem;
        overflow-x: hidden;
    }

    .skill {
        margin: 0;
    }

    #about-columns {
        width: 85%;
        overflow-x: hidden;
    }

    #form-container {
        width: 85%;
    }

    #contact-row {
        flex-direction: column;
    }
}